#body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.anuarios{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  &-img img{
    background-color: red;
    width: 500px;

  }
}
